<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>

    <customErrors mode="On" defaultRedirect="~/Error.aspx">
    </customErrors>
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <!--<add name="BookManagement" connectionString="Data Source=adrian_hp\adm_sql2008;Initial Catalog=BookManagement; User ID=BookManagement; Password=BookManagement123; MultipleActiveResultSets=True;" />-->
    <add name="BookManagementEntities" connectionString="metadata=res://*/db.BookManagement.csdl&#xD;&#xA;       |res://*/db.BookManagement.ssdl&#xD;&#xA;       |res://*/db.BookManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=adrian_hp\adm_sql2008;initial catalog=BookManagement;persist security info=True;user id=BookManagement;password=BookManagement123;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BookManagementConnectionString" connectionString="Data Source=adrian_hp\adm_sql2008;Initial Catalog=BookManagement;Persist Security Info=True;User ID=BookManagement;Password=BookManagement123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<appSettings><!--smtp-->
    <add key="SmtpMailServer" value="rocjexm01.mail.net"></add>
    <add key="SmtpFromAddress" value="no_reply_BookManagement@endava.com"></add>
    <add key="SmtpMailSubjectInsert" value="New book lease from the Book Management application"></add>
    <add key="SmtpMailSubjectUpdate" value="Changed book lease from the Book Management application" />
    <add key="SmtpMailSubjectDelete" value="Book lease has been deleted from the Book Management application"></add>
    <add key="SmtpMailHeaderUpdate" value="Your book lease details from the Book Management application have been changed" />
    <!--report-->
    <add key="XlsExportName" value="ExportList.xls" />
    <add key="ImagesFolder" value ="~/DynamicData/Content/Images/"/>
    <!--ui messages-->

  <!--back links-->
  <add key ="ForeignKeyLinkInsert" value="../../{0}/Insert.aspx"/>
  <add key ="ForeignKeyTextDetails" value="details"/>
  <add key ="ForeignKeyTextRefresh" value="refresh"/>
  <add key ="ForeignKeyTextNew" value="new"/>

  <!--list-->
  <add key="ListPleaseSelect" value="[please select]"/>

  <add key="HandlerImageFormat" value="~/Handlers/ImageHandler.ashx?id={0}&amp;type={1};"/>
  
    <add key="BookHasntBeenLeasedYet" value="This book hasn't been leased yet to any user" />
    <add key="BookIsScheduledToBeReturnedOn" value="The first user to return this book is : " />
    <add key="NewBookHasBeenLeasedToYouOn" value="A new book lease has been issued for you on" />
    <add key="YourBookLeaseHasBeenDeletedOn" value="Your book lease has been deleted on" />
    <add key="NoImageAvailableLine1" value="No image available for this {0}." />
    <add key="TheRecordHasBeenChanged" value="The {0} Has Been Changed" />
    <add key="TheNewRecordHasBeenAdded" value="The New {0} Has Been Added" />
    <add key="TheRecordHasBeenDeleted" value="The {0} Has Been Deleted" /> 
    <add key="ThisLeaseHasAlreadyBeenDeleted" value="This Book Lease Has Already Been Deleted !"/>
    <add key="CantAddLeaseQuantityGreaterThanExistingStock" value="Can't add a quantity greater than the existing stock ({0}) for this book lease !" />
    <add key="CantAddABookWithTheSameISBN" value="Can't add a book with the same ISBN ({0}) !" />
    <add key="CantAddABookCategoryWithTheSameName" value="Can't add a book category with the same name ({0})"/>
    <add key="CantAddAnAuthorWithTheSameName" value="Can't add an author with the same name ({0}) !" />
    <add key="CantAddAnUserWithTheSameCNP" value="Can't add an user with the same CNP ({0}) !" />
    <add key="EntityNavigateBackUrlIDBook" value="~/{0}/List.aspx?IDBook={1}"></add>
    <add key="EntityNavigateBackUrlIDUser" value="~/{0}/List.aspx?IDUser={1}"></add>
    <add key="EntityUserNavigartLeaseIDUser" value="../Lease/List.aspx?IDUser={0}"/>
    <add key="EntityNavigatebackUrl" value="~/{0}/List.aspx"></add>
    <add key="DateFormatDisplay"  value="yyyy.MM.dd"/>
  
  <!--main page-->  
  <add key="MainPageLinkUser" value="../../User/List.aspx"/>
  <add key="MainPageLinkLease" value="../../Lease/List.aspx"/>
  <add key="MainPageLinkBook" value="../../Book/List.aspx"/>
  <add key="MainPageLinkCategory" value="../../Category/List.aspx"/>
  <add key="MainPageLinkAuthor" value="../../Author/List.aspx"/>
  </appSettings>
</configuration>